<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Add Product Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation') %>

    <main>
      <h2>Edit Product</h2>
      <form action="/admin/edit-product" method="POST">
        <fieldset class="m-3">
          <label class="form-label" for="title">Title</label>
          <input class="form-control" type="text" name="title" id="title" />
          <label class="form-label" for="imageUrl">Image URL</label>
          <input
            class="form-control"
            type="text"
            name="imageUrl"
            id="imageUrl"
          />
          <label class="form-label" for="price">Price</label>
          <input class="form-control" type="number" name="price" id="price" />
        </fieldset>
        <fieldset class="m-3">
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="description"
            rows="5"
          ></textarea>
        </fieldset>
        <div class="m-3">
          <button class="btn btn-primary" type="submit">Add Product</button>
        </div>
      </form>
    </main>
  </body>
</html>
