<html lang="en">
  <%- include('partials/head', { pageTitle: 'Home Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('partials/navigation') %>

    <main>
      <h1>Home Page</h1>
      <p>Welcome to the home page of our website.</p>
    </main>
  </body>
</html>
