<html lang="en">
  <%- include('partials/head', { pageTitle: 'Shop Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('partials/navigation') %>

    <main>
      <h1>Shop Page</h1>
      <p>Welcome to the shop! Browse our products.</p>
    </main>
  </body>
</html>
