<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Shop Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation') %>

    <main>
      <h1>Cart Page</h1>
      <p>This is cart content.</p>
      <a href="/checkout">Go to Checkout</a>
    </main>
  </body>
</html>
