<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Shop Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation', { isAuthenticated }) %>

    <main>
      <h1>Checkout Page</h1>
      <p>This is checkout content.</p>
      <a href="/cart">Go back to Cart</a>
    </main>
  </body>
</html>
