<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Shop Home Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation') %>

    <main>
      <h1>Shop Page</h1>
      <p>
        Welcome to the shop homepage! Browse our
        <a href="/products">products</a>.
      </p>
    </main>
  </body>
</html>
