<html lang="en">
  <%- include('../partials/head', { pageTitle: 'Product Details Page' }) %>

  <body data-bs-theme="<%= theme %>">
    <%- include('../partials/navigation') %>

    <main>
      <h1>Product Details Page</h1>
      <p>Here are details of a single product.</p>
    </main>
  </body>
</html>
